<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Borrowing Management</title>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        {% include 'includes/adminsidebar.html'%}

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
          <header class="py-3">
            <h1 class="display-6 text-dark">Borrowing Management</h1>
          </header>

          <!-- Flash Messages -->
          {% with messages = get_flashed_messages(with_categories=true) %} {% if
          messages %}
          <div class="flash-messages">
            {% for category, message in messages %}
            <div class="flash flash-{{ category }}">{{ message }}</div>
            {% endfor %}
          </div>
          {% endif %} {% endwith %}

          <div class="card p-4">
            <!-- Borrowing Table -->
            <div class="borrowing-table">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>User ID</th>
                    <th>Equipment Name</th>
                    <th>Date Borrowed</th>
                    <th>Due Date</th>
                  </tr>
                </thead>
                <tbody id="borrowingsList">
                  {% for borrow in borrowings %}
                  <tr id="borrowingRow_{{ borrow.id }}">
                    <td>{{ borrow.user_id }}</td>
                    <td>{{ borrow.equipment.name }}</td>
                    <td>{{ borrow.borrow_date.strftime('%Y-%m-%d') }}</td>
                    <td>{{ borrow.return_date.strftime('%Y-%m-%d') }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </main>
      </div>
    </div>

    <footer class="admin-footer">
      <p>&copy; 2024 GymPro</p>
    </footer>
  </body>
</html>
